.flex {
  display: flex;

  &__justify-center {
    justify-content: center;
  }

  &__justify-end {
    justify-content: flex-end;
  }

  &__justify-start {
    justify-content: flex-start;
  }

  &__justify-between {
    justify-content: space-between;
  }

  &__align-center {
    align-items: center;
  }

  &__align-end {
    align-items: flex-end;
  }

  &__align-start {
    align-items: flex-start;
  }

  &__column {
    flex-direction: column;
  }

  &__row {
    flex-direction: row;
  }
}
