.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;

  &-content {
    background-color: $warm-grey-050;
    padding: size(8) size(10);
  }

  &__hidden {
    display: none;
  }
}
