.help_question {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;

  &-specifications {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    align-items: start;

    &-panel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin-top: size(4);
      margin-left: size(4);

      > button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
      }
    }

    &-answers {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      align-items: start;
      margin-left: size(4);
      margin-top: size(16);
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    position: sticky;
    top: 40%;

    @include respond(tab-portrait) {
      width: 100%;
      margin-top: size(10);
    }

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form {
      width: 80%;
    }
  }
}
