.reviews {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;

  .review {
    flex-grow: 1;
    width: 45%;
    margin-right: size(12);
    margin-bottom: size(6);

    @include respond(tab-landscape) {
      width: 30%;
    }

    @include respond(tab-portrait) {
      width: 48%;
    }

    @include respond(phone) {
      width: 100%;
      margin-right: 0;
    }
  }
}
