$purple-050: #eae2f8;
$purple-100: #cfbcf2;
$purple-200: #a081d9;
$purple-300: #8662c7;
$purple-400: #724bb7;
$purple-500: #653cad;
$purple-600: #51279b;
$purple-700: #421987;
$purple-800: #34126f;
$purple-900: #240754;

$warm-grey-050: #faf9f7;
$warm-grey-100: #e8e6e1;
$warm-grey-200: #d3cec4;
$warm-grey-300: #b8b2a7;
$warm-grey-400: #a39e93;
$warm-grey-500: #857f72;
$warm-grey-600: #625d52;
$warm-grey-700: #504a40;
$warm-grey-800: #423d33;
$warm-grey-900: #27241d;

$cyan-050: #e0fcff;
$cyan-100: #bef8fd;
$cyan-200: #87eaf2;
$cyan-300: #54d1db;
$cyan-400: #38bec9;
$cyan-500: #2cb1bc;
$cyan-600: #14919b;
$cyan-700: #0e7c86;
$cyan-800: #0a6c74;
$cyan-900: #044e54;

$red-vivid-050: #ffe3e3;
$red-vivid-100: #ffbdbd;
$red-vivid-200: #ff9b9b;
$red-vivid-300: #f86a6a;
$red-vivid-400: #ef4e4e;
$red-vivid-500: #e12d39;
$red-vivid-600: #cf1124;
$red-vivid-700: #ab091e;
$red-vivid-800: #8a041a;
$red-vivid-900: #610316;

$yellow-050: #fffaeb;
$yellow-100: #fcefc7;
$yellow-200: #f8e3a3;
$yellow-300: #f9da8b;
$yellow-400: #f7d070;
$yellow-500: #e9b949;
$yellow-600: #c99a2e;
$yellow-700: #a27c1a;
$yellow-800: #7c5e10;
$yellow-900: #513c06;

$green-vivid-050: #e3f9e5;
$green-vivid-100: #c1f2c7;
$green-vivid-200: #91e697;
$green-vivid-300: #51ca58;
$green-vivid-400: #31b237;
$green-vivid-500: #18981d;
$green-vivid-600: #0f8613;
$green-vivid-700: #0e7817;
$green-vivid-800: #07600e;
$green-vivid-900: #014807;

body {
  background-color: $warm-grey-050;
}
