<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to add a book?| Boo</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="fork-awesome.css" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <meta name="page-name" content="help_questions" />
    <script src="./scripts/app.js"></script>
    <script src="./goTo.js"></script>
  </head>

  <body>
    <div class="loading" id="loading">
      <img src="assets/loading.gif" alt="logo" />
    </div>

    <nav>
      <button>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </nav>
    <aside class="side">
      <div class="side-logo">
        <img src="assets/logo_white.svg" alt="logo" />
      </div>
      <div class="side-search">
        <input type="text" id="search" placeholder="Search" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="side-links"></div>
      <div class="side-footer">
        <div class="text text__14">boo @ 2023</div>
      </div>
    </aside>
    <main>
      <div class="help_question">
        <div class="help_question-specifications">
          <div class="text text__32 text__bold ml-4">How to add a book?</div>
          <div class="question_card-specifications-element">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="text text__14">December 12, 2021</div>
          </div>
          <div class="question_card-specifications-element mt-4">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="text text__16">Johnathan</div>
          </div>
          <div class="text text__14 mt-4 ml-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, aliquam odit eaque itaque, fuga quas molestias,
            deleniti laborum quidem eveniet nobis dolor non facilis. Tempora
            vitae perspiciatis vero accusantium eligendi. Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Odio obcaecati optio enim
            pariatur iste, nesciunt commodi saepe alias doloribus necessitatibus
            sint itaque numquam distinctio sunt. Mollitia quos nesciunt eum
            deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iure quis dolor maxime nobis minima voluptatem! Consectetur
            voluptatum cumque quaerat dolorum ipsam consequuntur magni excepturi
            itaque, perferendis architecto sapiente assumenda numquam.
          </div>
          <div class="question_card-specifications-element mt-2 ml-4">
            <label class="text text__14">Topic: </label>
            <div id="topic" class="text text__14 text__bold text__center">
              My account
            </div>
          </div>
          <div class="help_question-specifications-panel">
            <button class="button">
              <div class="question_card-specifications-element">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <div class="text text__14">Like</div>
                <div class="text text__14">1.1k</div>
              </div>
            </button>
            <div class="question_card-specifications-element">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <div class="text text__14">8.2k</div>

              <div class="question_card-specifications-element">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <div class="text text__14">42.5k</div>
              </div>
            </div>
          </div>
        </div>
        <div class="help_question-container">
          <div class="help_question-container-answers">
            <div class="review mt-4">
              <div class="text text__16 text__bold mb-1">
                Anthony Clarke - August 12 2023
              </div>
              <div class="text text__16">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, alias voluptates ipsum vitae, laudantium error autem
                quis tempore sint at sunt. Alias veniam sequi a ullam quod et
                labore nobis!
              </div>
            </div>
            <div class="review mt-4">
              <div class="text text__16 text__bold mb-1">
                Anthony Clarke - August 12 2023
              </div>
              <div class="text text__16">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, alias voluptates ipsum vitae, laudantium error autem
                quis tempore sint at sunt. Alias veniam sequi a ullam quod et
                labore nobis!
              </div>
            </div>
            <div class="review mt-4">
              <div class="text text__16 text__bold mb-1">
                Anthony Clarke - August 12 2023
              </div>
              <div class="text text__16">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, alias voluptates ipsum vitae, laudantium error autem
                quis tempore sint at sunt. Alias veniam sequi a ullam quod et
                labore nobis!
              </div>
            </div>
            <div class="review mt-4">
              <div class="text text__16 text__bold mb-1">
                Anthony Clarke - August 12 2023
              </div>
              <div class="text text__16">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, alias voluptates ipsum vitae, laudantium error autem
                quis tempore sint at sunt. Alias veniam sequi a ullam quod et
                labore nobis!
              </div>
            </div>
            <div class="review mt-4">
              <div class="text text__16 text__bold mb-1">
                Anthony Clarke - August 12 2023
              </div>
              <div class="text text__16">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, alias voluptates ipsum vitae, laudantium error autem
                quis tempore sint at sunt. Alias veniam sequi a ullam quod et
                labore nobis!
              </div>
            </div>
          </div>
          <div class="help_question-container-form">
            <div class="text text__20 text__bold mb-5">Your response</div>
            <div class="form">
              <div class="form-textarea">
                <textarea
                  name="response"
                  rows="10"
                  placeholder="Your response..."
                ></textarea>
              </div>
              <div class="action">
                <button class="button button__primary">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
