<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My reviews | Boo</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="fork-awesome.css" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <meta name="page-name" content="reviews" />
    <script src="./scripts/app.js"></script>
    <script src="./goTo.js"></script>
  </head>
  <body>
    <div class="loading" id="loading">
      <img src="assets/loading.gif" alt="logo" />
    </div>

    <nav>
      <button>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </nav>

    <aside class="side">
      <div class="side-logo">
        <img src="assets/logo_white.svg" alt="logo" />
      </div>
      <div class="side-search">
        <input type="text" id="search" placeholder="Search" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="side-links"></div>
      <div class="side-footer">
        <div class="text text__14">boo @ 2023</div>
      </div>
    </aside>

    <main>
      <div class="text text__32 text__bold mb-4">My Reviews</div>
      <div class="reviews">
        <div class="review">
          <div class="text text__14 text__bold">Book 1</div>
          <div class="text text__14">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas
            magni unde animi. Reiciendis veniam nihil dolor praesentium dolore
            mollitia odit necessitatibus, facere quae esse, adipisci laudantium,
            sint doloremque quidem?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Laborum dolore dolorum atque sint quisquam in
            doloribus omnis sit repellat. Repellendus, et. Quaerat delectus eos
            asperiores ex nobis et nemo in. Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Reiciendis quas iusto repellendus
            error modi et quam eum iure tenetur, commodi consequuntur maiores
            voluptas facilis velit quasi blanditiis nam alias numquam.
          </div>
        </div>
        <div class="review">
          <div class="text text__14 text__bold">Book 2</div>
          <div class="text text__14">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas
            magni unde animi. Reiciendis veniam nihil dolor praesentium dolore
            mollitia odit necessitatibus, facere quae esse, adipisci laudantium,
            sint doloremque quidem?
          </div>
        </div>
        <div class="review">
          <div class="text text__14 text__bold">Book 3</div>
          <div class="text text__14">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas
            magni unde animi. Reiciendis veniam nihil dolor praesentium dolore
            mollitia odit necessitatibus, facere quae esse, adipisci laudantium,
            sint doloremque quidem?
          </div>
        </div>
        <div class="review">
          <div class="text text__14 text__bold">Book 4</div>
          <div class="text text__14">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas
            magni unde animi. Reiciendis veniam nihil dolor praesentium dolore
            mollitia odit necessitatibus, facere quae esse, adipisci laudantium,
            sint doloremque quidem?
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
